html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

p {
    margin-top: 0;
}

.container {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template: 1fr 5fr / 1fr 4fr;
}

.header {
    background-color: #fff;
}

.sidebar {
    background-color: #a8ccfe;
    grid-row: 1 / -1;
}

.mainContent {
    background-color: #d9e9ff;
}