html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

.container {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template: 1fr 5fr / 1fr 4fr;
}

.header,
.sidebar,
.mainContent {
    padding: 15px;
}

.header {
    background-color: #fff;
}

.sidebar {
    background-color: #1c1c1c;
    color: #d7d7d7;
    grid-row: 1 / -1;
}

.sidebarHeading {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sidebarLogo {
    width: 50px;
    height: 50px;
    background-color: #d7d7d7;
}

.sidebarHeading h2 {
    margin-bottom: 0;
}

.sidebar>ul {
    margin: 45px 0;
    padding-left: 15px;
    font-weight: bold;
}

.mainContent {
    background-color: #d9e9ff;
}