html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

.container {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template: 1fr 5fr / 1fr 4fr;
}

.header,
.sidebar,
.mainContent {
    padding: 15px;
}

.header {
    background-color: #fff;
    display: grid;
    grid-template: repeat(2, 1fr) / 2fr 1fr;
}

.sidebar {
    background-color: #1c1c1c;
    color: #d7d7d7;
    grid-row: 1 / -1;
}

.sidebarHeading {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sidebarLogo {
    width: 50px;
    height: 50px;
    background-color: #d7d7d7;
}

.sidebarHeading h2 {
    margin-bottom: 0;
}

.sidebar>ul {
    margin: 45px 0;
    padding-left: 15px;
    font-weight: bold;
}

.searchBar,
.greeting {
    padding-right: 10px;
}

.notificationArea,
.actionBtns {
    padding-left: 10px;
}

.searchBar,
.notificationArea,
.greeting,
.actionBtns {
    display: flex;
    align-items: center;
}

.searchField {
    flex: 1;
}

.searchField input {
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: #d1e6ff;
    padding: 3px 10px;
}

.greetingText p,
.notificationArea p {
    margin: 0;
}

.userName {
    font-weight: bold;
    font-size: 1rem;
}

.greetingText .userName {
    font-size: 1.2rem;
}

.notificationArea {
    gap: 30px;
    justify-content: end;
}

.actionBtns {
    gap: 10px;
}

.actionBtns button {
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    padding: 10px 23px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    line-height: 1;
}

.mainContent {
    background-color: #d9e9ff;
}